.space{
  height: 100%;
  margin: 5px;
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(60, 60, 60);
  border-radius: 10px;
  box-shadow: 0 0 5px 1px rgb(0, 255, 128);
  color: #dffdd4;
  text-align: center;
  align-content: center;
  font-size: x-large;
}
